<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjkj.mapper.AccountRolePowerMiddleMapper" >
  <resultMap id="BaseResultMap" type="com.cjkj.entity.AccountRolePowerMiddle" >
    <id column="role_power_middle_id" property="rolePowerMiddleId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="power_id" property="powerId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    role_power_middle_id, role_id, power_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from account_role_power_middle
    where role_power_middle_id = #{rolePowerMiddleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from account_role_power_middle
    where role_power_middle_id = #{rolePowerMiddleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cjkj.entity.AccountRolePowerMiddle" >
    insert into account_role_power_middle (role_power_middle_id, role_id, power_id
      )
    values (#{rolePowerMiddleId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{powerId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cjkj.entity.AccountRolePowerMiddle" >
    insert into account_role_power_middle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rolePowerMiddleId != null" >
        role_power_middle_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="powerId != null" >
        power_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rolePowerMiddleId != null" >
        #{rolePowerMiddleId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="powerId != null" >
        #{powerId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cjkj.entity.AccountRolePowerMiddle" >
    update account_role_power_middle
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="powerId != null" >
        power_id = #{powerId,jdbcType=INTEGER},
      </if>
    </set>
    where role_power_middle_id = #{rolePowerMiddleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cjkj.entity.AccountRolePowerMiddle" >
    update account_role_power_middle
    set role_id = #{roleId,jdbcType=INTEGER},
      power_id = #{powerId,jdbcType=INTEGER}
    where role_power_middle_id = #{rolePowerMiddleId,jdbcType=INTEGER}
  </update>
</mapper>