<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjkj.mapper.AccountTypeMapper" >
  <resultMap id="BaseResultMap" type="com.cjkj.entity.AccountType" >
    <id column="account_type_id" property="accountTypeId" jdbcType="BIGINT" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    account_type_id, type_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from account_type
    where account_type_id = #{accountTypeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from account_type
    where account_type_id = #{accountTypeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cjkj.entity.AccountType" >
    insert into account_type (account_type_id, type_name)
    values (#{accountTypeId,jdbcType=BIGINT}, #{typeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cjkj.entity.AccountType" >
    insert into account_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountTypeId != null" >
        account_type_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountTypeId != null" >
        #{accountTypeId,jdbcType=BIGINT},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cjkj.entity.AccountType" >
    update account_type
    <set >
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
    </set>
    where account_type_id = #{accountTypeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cjkj.entity.AccountType" >
    update account_type
    set type_name = #{typeName,jdbcType=VARCHAR}
    where account_type_id = #{accountTypeId,jdbcType=BIGINT}
  </update>
</mapper>