<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjkj.mapper.AdminAccountTypeMiddleMapper" >
  <resultMap id="BaseResultMap" type="com.cjkj.entity.AdminAccountTypeMiddle" >
    <id column="account_type_middle" property="accountTypeMiddle" jdbcType="BIGINT" />
    <result column="admin_account_id" property="adminAccountId" jdbcType="BIGINT" />
    <result column="account_type_id" property="accountTypeId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    account_type_middle, admin_account_id, account_type_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from admin_account_type_middle
    where account_type_middle = #{accountTypeMiddle,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from admin_account_type_middle
    where account_type_middle = #{accountTypeMiddle,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cjkj.entity.AdminAccountTypeMiddle" >
    insert into admin_account_type_middle (account_type_middle, admin_account_id, 
      account_type_id)
    values (#{accountTypeMiddle,jdbcType=BIGINT}, #{adminAccountId,jdbcType=BIGINT}, 
      #{accountTypeId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cjkj.entity.AdminAccountTypeMiddle" >
    insert into admin_account_type_middle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountTypeMiddle != null" >
        account_type_middle,
      </if>
      <if test="adminAccountId != null" >
        admin_account_id,
      </if>
      <if test="accountTypeId != null" >
        account_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountTypeMiddle != null" >
        #{accountTypeMiddle,jdbcType=BIGINT},
      </if>
      <if test="adminAccountId != null" >
        #{adminAccountId,jdbcType=BIGINT},
      </if>
      <if test="accountTypeId != null" >
        #{accountTypeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cjkj.entity.AdminAccountTypeMiddle" >
    update admin_account_type_middle
    <set >
      <if test="adminAccountId != null" >
        admin_account_id = #{adminAccountId,jdbcType=BIGINT},
      </if>
      <if test="accountTypeId != null" >
        account_type_id = #{accountTypeId,jdbcType=BIGINT},
      </if>
    </set>
    where account_type_middle = #{accountTypeMiddle,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cjkj.entity.AdminAccountTypeMiddle" >
    update admin_account_type_middle
    set admin_account_id = #{adminAccountId,jdbcType=BIGINT},
      account_type_id = #{accountTypeId,jdbcType=BIGINT}
    where account_type_middle = #{accountTypeMiddle,jdbcType=BIGINT}
  </update>
</mapper>